[class*="icon-"] {
	display: inline-block;
	width: 64px;
	height: 64px;
	background-image: url(sprites.svg);
	background-repeat: no-repeat;
}
.icon-facebook {
	background-position: 0 0;
	width: 64px;
}
.icon-twitter {
	background-position: -96px 0;
	width: 64px;
}
.icon-google plus {
	background-position: -192px 0;
	width: 64px;
}
